%h1{style: "text-align: center;"}
	About Us
#about.container
	.row
		.span9.offset1
			.row-fluid
				%h3 By bringing travellers and local people close together, we believe in bringing memorable travel experience not only to those who come to town but also for those who want to share their love of the homeland.
				%p 
			%hr
			.row-fluid
				.span4
					%img{src: "http://people.mozilla.org/~faaborg/files/20081216-platformIcons/softwareUpdate-256.png"}/
				.span8
					%h2
						TourStarter is a social platform that allows verified locals to become their hometown tour guide.
			%hr
			.row-fluid
				.span8{style: "text-align: right"}
					%h2
						Design your own unique, wicked, awesome tours that will make wanderers fall in love with your town.
				.span4
					%img{src: "http://dribbble.s3.amazonaws.com/users/122350/screenshots/960176/mapicon800.png"}/
			%hr
			.row-fluid
				.span4
					%img{src: "http://www.xmodtech.com/public/bitmap/html_icon.png"}/
				.span8
					%h2
						Traveller can choose from a variety of hand-picked tours that are tailored and favorited by locals.
			%hr
			.row-fluid
				.span8{style: "text-align: right"}
					%h2
						Search. Book. Enjoy!
				.span4
					%img{src: "http://theoldreader.com/kittens/300/200"}/
			%hr